@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
    margin: 10px;
    padding: 10px; 
    background: #5fa9da; 
    background-image: url("image/BMO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-blend-mode: lighten;
    
    
}

.search-box{
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f7fafa;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}
.search-btn{
    color: #0e1011;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eb9027;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 00.4s;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(2, 0, 0);
    font-size: 20px;
    transition: 1.0s;
   line-height: 40px;
   width: 0px;

}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    
}
.search-box:hover > .search-btn{
    background: white;
    
}
/* div {
    text-align: justify;
} */
table, td, th {
    padding: 5px;
    border: 2px solid black;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
tr:hover {background-color:#eb9027;}
th {
    background-color: #eef3f5;
    color: rgb(27, 25, 25);
    font-size: 18px;
}
h1 {
    color: rgb(17, 16, 16);
    position:relative;
    
    top: 0px;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background:whitesmoke; */
    
    /* font: normal normal normal 20px/1 Helvetica, arial, sans-serif; */
    /* border-bottom:2px solid #000; */

 }


h2,h3,h4,h5 {
    margin:50px;
    padding:5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(5, 4, 4);
 
}
ul {
    list-style-type: none;
}
li{
    color: rgb(9, 9, 12);
}
.footer-center{
    padding-right:40px;
    margin-top:20px;
    float:right;
  }
  
  .icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
  }
  
  .icon-style:hover {
    /* background-color:rgb(195, 218, 219); */
    padding:5px;
  }
